body{
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20%;
    width:50%;
    margin-left:30%;
}




